#menu {
	width: 780px;
	margin-left: 2px;
	padding: 0px;
	height: 29px;
	background-image: url(../images/menu/menu_bg.jpg);
	float: left;
	margin-top: 0px;
	margin-bottom: 2px;
}

/*NAVIGATION
----------------------------------------------------------------------------------------------------*/
ul#nav{
	list-style:none;
	width: 780px;
	margin-top: 7px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

ul#nav li{
	float:left;
	margin-right: 25px;
	margin-left: 25px;
}

ul#nav li a{
	display:block;
	color: #0000FF;
	font-size: 10px;
	padding-top: 2px;
	float: left;
	text-decoration:none;
}

/*home
----------------------------------------------------------------------------------------------------*/
a.home{
	width:37px;
	height:15px;
	position:relative;
}
a.home span{
	position:absolute;
	width:37px;
	height:15px;
	background-image: url(../images/menu/home.jpg);
	background-repeat: no-repeat;
	background-position: 0px -15px;
}
a.home:hover span{
    background: url(../images/menu/home.jpg) no-repeat 0px 0px;
	text-decoration:underline;
}

/*portfolio
----------------------------------------------------------------------------------------------------*/
a.portfolio{
    width:55px;
    height:15px;
    position:relative;
}
a.portfolio span{
    position:absolute;
    width:55px;
    height:15px;
    background: url(../images/menu/portfolio.jpg) no-repeat 0px -15px;
}
a.portfolio:hover span{
    background: url(../images/menu/portfolio.jpg) no-repeat 0px 0px;
	text-decoration:underline;
}

/*about paint
----------------------------------------------------------------------------------------------------*/
a.about_paint{
    width:71px;
    height:15px;
    position:relative;
}
a.about_paint span{
    position:absolute;
    width:71px;
    height:15px;
    background: url(../images/menu/about_paint.jpg) no-repeat 0px -15px;
}
a.about_paint:hover span{
    background: url(../images/menu/about_paint.jpg) no-repeat 0px 0px;
	text-decoration:underline;
}

/*ghc
----------------------------------------------------------------------------------------------------*/
a.ghc{
    width:92px;
    height:15px;
    position:relative;
}
a.ghc span{
	position:absolute;
	width:92px;
	height:15px;
	background: url(../images/menu/ghc.jpg) no-repeat 0px -15px;
}
a.ghc:hover span{
    background: url(../images/menu/ghc.jpg) no-repeat 0px 0px;
	text-decoration:underline;
}

/*contact us
----------------------------------------------------------------------------------------------------*/
a.contact_us{
    width:65px;
    height:15px;
    position:relative;
}
a.contact_us span{
    position:absolute;
    width:65px;
    height:15px;
    background: url(../images/menu/contact_us.jpg) no-repeat 0px -15px;
}
a.contact_us:hover span{
    background: url(../images/menu/contact_us.jpg) no-repeat 0px 0px;
	text-decoration:underline;
}

.line {
	height: 14px;
	float: left;
	background-image: url(../images/menu/menu_line.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	width: 1px;
	margin-top: 2px;
}
