#menu {
	width: 780px;
	margin-left: 2px;
	padding: 0px;
	height: 29px;
	background-image: url(../images/menu/menu_bg.gif);
	float: left;
	margin-top: 0px;
	margin-bottom: 2px;
}

/*NAVIGATION
----------------------------------------------------------------------------------------------------*/
ul#nav{
	list-style:none;
	width: 780px;
	margin-top: 9px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

ul#nav li{
	float:left;
	margin-right: 6px;
	margin-left: 6px;
}

ul#nav li a{
	display:block;
	color: #0000FF;
	font-size: 10px;
	padding-top: 2px;
	float: left;
	text-decoration:none;
}

/*home
----------------------------------------------------------------------------------------------------*/
a.home{
	width:33px;
	height:15px;
	position:relative;
}
a.home span{
	position:absolute;
	width:33px;
	height:15px;
	background-image: url(../images/menu/home.gif);
	background-repeat: no-repeat;
	background-position: 0px -15px;
}
a.home:hover span{
    background: url(../images/menu/home.gif) no-repeat 0px 0px;
	text-decoration:underline;
}

/*inventory
----------------------------------------------------------------------------------------------------*/
a.inventory{
    width:63px;
    height:15px;
    position:relative;
}
a.inventory span{
    position:absolute;
    width:63px;
    height:15px;
    background: url(../images/menu/inventory.gif) no-repeat 0px -15px;
}
a.inventory:hover span{
    background: url(../images/menu/inventory.gif) no-repeat 0px 0px;
	text-decoration:underline;
}

/*furniture
----------------------------------------------------------------------------------------------------*/
a.furniture{
    width:120px;
    height:15px;
    position:relative;
}
a.furniture span{
    position:absolute;
    width:120px;
    height:15px;
    background: url(../images/menu/furniture.gif) no-repeat 0px -15px;
}
a.furniture:hover span{
    background: url(../images/menu/furniture.gif) no-repeat 0px 0px;
	text-decoration:underline;
}

/*testimonials
----------------------------------------------------------------------------------------------------*/
a.testimonials{
    width:81px;
    height:15px;
    position:relative;
}
a.testimonials span{
	position:absolute;
	width:81px;
	height:15px;
	background: url(../images/menu/testimonials.gif) no-repeat 0px -15px;
}
a.testimonials:hover span{
    background: url(../images/menu/testimonials.gif) no-repeat 0px 0px;
	text-decoration:underline;
}

/*arborists_resources
----------------------------------------------------------------------------------------------------*/
a.arborists_resources{
    width:145px;
    height:15px;
    position:relative;
}
a.arborists_resources span{
    position:absolute;
    width:145px;
    height:15px;
    background: url(../images/menu/arborists_resources.gif) no-repeat 0px -15px;
}
a.arborists_resources:hover span{
    background: url(../images/menu/arborists_resources.gif) no-repeat 0px 0px;
	text-decoration:underline;
}

/*tree
----------------------------------------------------------------------------------------------------*/
a.tree{
    width:81px;
    height:15px;
    position:relative;
}
a.tree span{
    position:absolute;
    width:81px;
    height:15px;
    background: url(../images/menu/tree.gif) no-repeat 0px -15px;
}
a.tree:hover span{
    background: url(../images/menu/tree.gif) no-repeat 0px 0px;
	text-decoration:underline;
}

/*ghc
----------------------------------------------------------------------------------------------------*/
a.ghc{
    width:90px;
    height:15px;
    position:relative;
}
a.ghc span{
	position:absolute;
	width:90px;
	height:15px;
	background: url(../images/menu/ghc.gif) no-repeat 0px -15px;
}
a.ghc:hover span{
    background: url(../images/menu/ghc.gif) no-repeat 0px 0px;
	text-decoration:underline;
}

.line {
	height: 20px;
	float: left;
	background-image: url(../images/menu/menu_line.gif);
	background-repeat: no-repeat;
	background-position: center top;
	width: 1px;
	margin-top: 1px;
}
